span:active, span:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
  }

  @media only screen and (min-width: 1000px) {
    /* .desktop {
      background-color: blue;
    } */
    .mobile {
      display: none;
    }
  }

  @media only screen and (max-width: 1000px) {
    /* .mobile {
      background-color: red;
    } */
    .desktop {
      display: none;
    }
  }


  .cstmBtn:hover {
    background-color: rgb(238, 238, 238);
  }


  @media print {
    .print {
        display: auto;
    }

    .noPrint {
        display: none;
    }
}

@media screen {
  .printWithoutDisplay {
    display: none;
  }
}

  