<!-- <select name="makerId" class="form-control">
    <option value="-1">Select make</option>
    <optgroup label="Popular carmakers">
        <option value="74">MERCEDES-BENZ</option>
        <option value="16">BMW</option>
        <option value="121">VW</option>
        <option value="36">FORD</option>
        <option value="5">AUDI</option>
        <option value="88">PEUGEOT</option>
        <option value="80" selected="selected">NISSAN</option>
        <option value="111">TOYOTA</option>
        <option value="93">RENAULT</option>
        <option value="84">OPEL</option>
    </optgroup>
    <optgroup label="Carmakers are arranged in alphabetical order">
        <option value="3854">ABARTH</option>
        <option value="609">AC</option>
        <option value="1505">ACURA</option>
        <option value="1480">AIXAM</option>
        <option value="2">ALFA ROMEO</option>
        <option value="866">ALPINA</option>
        <option value="810">ALPINE</option>
        <option value="4730">ALVIS</option>
        <option value="1360">ARO</option>
        <option value="3495">ARTEGA</option>
        <option value="879">ASIA MOTORS</option>
        <option value="2242">ASKAM (FARGO/DESOTO)</option>
        <option value="881">ASTON MARTIN</option>
        <option value="5">AUDI</option>
        <option value="6">AUSTIN</option>
        <option value="1538">AUSTIN-HEALEY</option>
        <option value="3">AUTO UNION</option>
        <option value="799">AUTOBIANCHI</option>
        <option value="2845">AUVERLAND</option>
        <option value="134">BARKAS</option>
        <option value="10">BEDFORD</option>
        <option value="815">BENTLEY</option>
        <option value="1485">BERTONE</option>
        <option value="3762">BESTURN (FAW)</option>
        <option value="16">BMW</option>
        <option value="136">BORGWARD</option>
        <option value="4161">BRABUS</option>
        <option value="788">BUGATTI</option>
        <option value="816">BUICK</option>
        <option value="3136">BUICK (SGM)</option>
        <option value="819">CADILLAC</option>
        <option value="1489">CARBODIES</option>
        <option value="2915">CASALINI</option>
        <option value="1490">CATERHAM</option>
        <option value="2887">CHERY</option>
        <option value="138">CHEVROLET</option>
        <option value="20">CHRYSLER</option>
        <option value="21">CITROЁN</option>
        <option value="4896">CUPRA</option>
        <option value="139">DACIA</option>
        <option value="185">DAEWOO</option>
        <option value="24">DAF</option>
        <option value="25">DAIHATSU</option>
        <option value="26">DAIMLER</option>
        <option value="1495">DE TOMASO</option>
        <option value="29">DODGE</option>
        <option value="3497">DR</option>
        <option value="4468">DS</option>
        <option value="142">EBRO</option>
        <option value="2890">FAW</option>
        <option value="700">FERRARI</option>
        <option value="35">FIAT</option>
        <option value="3738">FISKER</option>
        <option value="36">FORD</option>
        <option value="2864">FORD ASIA / OCEANIA</option>
        <option value="808">FORD OTOSAN</option>
        <option value="776">FORD USA</option>
        <option value="775">FSO</option>
        <option value="148">GAZ</option>
        <option value="3697">GEELY (GLEAGLE)</option>
        <option value="4473">GENESIS</option>
        <option value="4657">GERMAN E-CARS</option>
        <option value="812">GLAS</option>
        <option value="39">GMC</option>
        <option value="4752">GOUPIL</option>
        <option value="2903">GREAT WALL</option>
        <option value="3968">HAVAL</option>
        <option value="801">HOLDEN</option>
        <option value="45">HONDA</option>
        <option value="1506">HUMMER</option>
        <option value="183">HYUNDAI</option>
        <option value="1507">INDIGO</option>
        <option value="1526">INFINITI</option>
        <option value="52">INNOCENTI</option>
        <option value="54">ISUZU</option>
        <option value="55">IVECO</option>
        <option value="56">JAGUAR</option>
        <option value="882">JEEP</option>
        <option value="2589">JIANGLING LANDWIND</option>
        <option value="2888">JINBEI</option>
        <option value="184">KIA</option>
        <option value="2760">KTM</option>
        <option value="63">LADA</option>
        <option value="701">LAMBORGHINI</option>
        <option value="64">LANCIA</option>
        <option value="1820">LAND ROVER</option>
        <option value="1380">LDV</option>
        <option value="5194">LEVC</option>
        <option value="842">LEXUS</option>
        <option value="1513">LIGIER</option>
        <option value="1200">LINCOLN</option>
        <option value="4187">LLOYD</option>
        <option value="802">LOTUS</option>
        <option value="3047">LTI</option>
        <option value="1280">MAHINDRA</option>
        <option value="69">MAN</option>
        <option value="908">MARUTI</option>
        <option value="771">MASERATI</option>
        <option value="2164">MAYBACH</option>
        <option value="72">MAZDA</option>
        <option value="1518">MCLAREN</option>
        <option value="845">MEGA</option>
        <option value="74">MERCEDES-BENZ</option>
        <option value="161">MERCURY</option>
        <option value="75">MG</option>
        <option value="3961">MIA ELECTRIC</option>
        <option value="4219">MICROCAR</option>
        <option value="1522">MINELLI</option>
        <option value="1523">MINI</option>
        <option value="77">MITSUBISHI</option>
        <option value="803">MORGAN</option>
        <option value="78">MORRIS</option>
        <option value="813">MOSKVICH</option>
        <option value="80" selected="selected">NISSAN</option>
        <option value="81">NSU</option>
        <option value="1141">OLDSMOBILE</option>
        <option value="84">OPEL</option>
        <option value="4164">PAGANI</option>
        <option value="1531">PANTHER</option>
        <option value="88">PEUGEOT</option>
        <option value="181">PIAGGIO</option>
        <option value="3046">PININFARINA</option>
        <option value="850">PLYMOUTH</option>
        <option value="774">PONTIAC</option>
        <option value="92">PORSCHE</option>
        <option value="778">PROTON</option>
        <option value="1580">PUCH</option>
        <option value="93">RENAULT</option>
        <option value="694">RENAULT TRUCKS</option>
        <option value="705">ROLLS-ROYCE</option>
        <option value="95">ROVER</option>
        <option value="99">SAAB</option>
        <option value="171">SANTANA</option>
        <option value="1497">SATURN</option>
        <option value="2714">SCION</option>
        <option value="104">SEAT</option>
        <option value="1547">SHELBY</option>
        <option value="3156">SHUANGHUAN AUTO</option>
        <option value="106">SKODA</option>
        <option value="1138">SMART</option>
        <option value="175">SSANGYONG</option>
        <option value="176">STEYR</option>
        <option value="4015">STREETSCOOTER</option>
        <option value="107">SUBARU</option>
        <option value="109">SUZUKI</option>
        <option value="110">TALBOT</option>
        <option value="178">TATA (TELCO)</option>
        <option value="3328">TESLA</option>
        <option value="3514">THINK</option>
        <option value="111">TOYOTA</option>
        <option value="187">TRABANT</option>
        <option value="112">TRIUMPH</option>
        <option value="861">TVR</option>
        <option value="1553">UAZ</option>
        <option value="1554">UMM</option>
        <option value="117">VAUXHALL</option>
        <option value="4256">VICTORY</option>
        <option value="120">VOLVO</option>
        <option value="121">VW</option>
        <option value="186">WARTBURG</option>
        <option value="907">WESTFIELD</option>
        <option value="1558">WIESMANN</option>
        <option value="124">ZASTAVA</option>
        <option value="678">ZUENDAPP</option>
    </optgroup>
</select> -->